## PYTHON ##
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

## TEX AUXILIARY FILES IN DOCUMENTATION ##
# Core latex/pdflatex auxiliary files:
documentation/**/*.aux
documentation/**/*.lof
documentation/**/*.log
documentation/**/*.lot
documentation/**/*.fls
documentation/**/*.out
documentation/**/*.toc
documentation/**/*.fmt
documentation/**/*.fot
documentation/**/*.cb
documentation/**/*.cb2
documentation/**/.*.lb

# Intermediate documents:
documentation/**/*.dvi
documentation/**/*.xdv
documentation/**/*-converted-to.*

# PDF
documentation/**/*.pdf

# Bibliography auxiliary files (bibtex/biblatex/biber):
documentation/**/*.bbl
documentation/**/*.bcf
documentation/**/*.blg
documentation/**/*-blx.aux
documentation/**/*-blx.bib
documentation/**/*.run.xml

# Build tool auxiliary files:
documentation/**/*.fdb_latexmk
documentation/**/*.synctex
documentation/**/*.synctex(busy)
documentation/**/*.synctex.gz
documentation/**/*.synctex.gz(busy)
documentation/**/*.pdfsync

# Build tool directories for auxiliary files
# latexrun
documentation/**/latex.out/

# hyperref
documentation/**/*.brf
